<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Order placed successfully! </h1>
      # <p class="lead text-muted">Order Number: <%= @order.id %>.</p>
      <h4 class="fw-light">Invoice </h4>
      <p class="lead text-muted">Address: <%= @order.address %>.</p>
      <p class="lead text-muted">Total: <%= @order.total_amount %>.</p>
      <p class="lead text-muted">Tax: <%=@order.find_taxes%> </p>
      <p class="lead text-muted">Grand Total: <%= (@order.total_amount + @order.find_taxes) %>.</p>
    </div>
  </div>
</section>