<!-- Display details of a single product -->
<h1><%= @product.name %></h1>
<p>Description: <%= @product.description %></p>
<p>Category: <%= link_to @product.category.name, category_path(@product.category) %></p>
<p>Price: <%= @product.price %></p>
<br>
<%= form_for @order_item, url: orders_path, remote: true,local: false do |f| %>
  <div class="input-group mb-3">
    <%= f.number_field :quantity, value: 1, class: "form-control", min: 1  %>
  </div>
    <br>
    <div class="input-group-append">
      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.hidden_field :amount, value: @product.price %>
      <%= f.submit "Add to Cart", class: "btn btn-outline-primary" %>
    </div>
<% end %>
<%# = form_tag(add_to_cart_cart_path(product_id: @product.id), method: :post) do %>
  <%#= number_field_tag :quantity, 1, min: 1 %>
  <%#= submit_tag "Add to Cart" %>
<%# end %>
<br>
<br>
<%= link_to "View Cart", cart_path, class: "button" %>